:root {
  --highlights: #098A00;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Ubuntu', 'Segoe UI', 'Oxygen', 'Cantarell', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(75,75,75); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgb(75,75,75) 0%, rgb(0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgb(75,75,75) 0%,rgb(0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgb(75,75,75) 0%,rgb(0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#whiteBorder {
  z-index: -1;
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 0.8vw;
  width: 81vw;
  height: 31vw;
  -webkit-clip-path: polygon(0 0, 30% 0, 30% 100%, 0 100%);
  clip-path: polygon(0 0, 30% 0, 30% 100%, 0 100%);
}
#highlightBorder {
  z-index: -2;
  position: absolute;
  border-style: solid;
  border-color: var(--highlights);
  border-width: 0.4vw;
  width: 81.4vw;
  height: 31.4vw;
}

#navBack {
  position: absolute;
  overflow: hidden;
  width: 80vw;
  height: 30vw;
  background-color: white;
}
.navSection {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 30vw;
}
.navSection h1 {
  font-size: 3vw;
  margin: 0;
  margin-bottom: 3vw;
  color: var(--highlights);
}
.navSection p {
  font-size: 2vw;
  margin: 0;
}
.navSection p a {
  font-size: 2vw;
  margin: 0;
}
.navSection a {
  font-size: 1vw;
  font-weight: 300
}
#navBar{
  color: white;
  font-size: 2vw;
  font-weight: 100;
}
.navImage{
  height: inherit;
}
.navText{
  display: inherit;
  flex-direction: column;
  padding: 5%;
  width: 45vw;
}

.specialThanks {
  font-size: 0.7vw;
}